
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilime Hoşgeldiniz</h2>

<form class="form form-group">
    <p>Koray Vatansever</p>
    <p>Öğrenci</p>
    <p>İstanbul</p>
</form>
